<html>
    <!-- End div for content-container from top.ejs -->
    </div> 

    <div class="foot-container">
        <span>Copyright Johnathan Crocker, 2017</span>
    </div>

    <!-- End div for container from top.ejs -->
    </div>
</html>