<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="../css/stylesheet.css"/>
    </head>

    <body>
        <!-- Body container -->
        <div class="container">
            
            <div class="nav-container">
                <a class="nav-link" href="/">Home</a>
            </div>

            <!-- This is the container for the "Content" -->
            <div class="content-container">
            
        <!-- End div for container and content-container is in bottom.ejs -->
</html>