.container {
    width: 80%;
    margin: auto;
    background-color: lightcyan;
}

.content-container {
    padding: 20px;
    margin: auto;
}

.message-info {
    padding: 15px;
    text-align: center;
    background-color: #63A7D4;
    color: white;
    margin-bottom: 10px;
}

.message-error {
    padding: 15px;
    text-align: center;
    background-color: #E22D15;
    color: white;
    margin-bottom: 10px;
}

.foot-container {
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    background-color: #A2A2C9;
}

.nav-container {
    margin: auto;
    background-color: #A2A2C9;
    border-radius: 10px;
}

.nav-account-container {
    float: right;
    padding: 15px;
}

.login-register-links {
    text-decoration: none;
}

.nav-link {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 28pt;
    color: blue;
    text-decoration: none;
}

.form-center {
    width: 400px;
    margin: auto;
}

.board-title-and-desc-container {
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}

.board-title {
    text-decoration: none;
    color: blue;
    font-size: 17pt;
}

.board-description {
    color: black;
    font-size: 12pt;
}