.container {
    width: 80%;
    margin: auto;
    background-color: lightcyan;
}

.content-container {
    padding: 20px;
    margin: auto;
}

.foot-container {
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    background-color: lightblue;
}

.nav-container {
    margin: auto;
    background-color: lightblue;
    border-radius: 10px;
}

.nav-account-container {
    float: right;
    padding: 15px;
}

.login-register-links {
    text-decoration: none;
}

.nav-link {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 35pt;
    color: blue;
    text-decoration: none;
}